<!DOCTYPE html>
<html lang="en">
<head>
    {{>headlinks}}
</head>
<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/weather1.png" alt="image" class="img-fluid bg-img" title="about img">
                        </figure>
                    </div>
                     <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Real-Time Weather App</p>
                        <h1>This is the Complete<span class="text-clr"> Dynamic</span> Weather Website</h1>
                    </div>  
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>
</html>